# Pre-compiled Python files
*.pyc

# Logs
*.log

# Minified JavaScript
*.min.js

# Object files
*.o
*.bc
*.pexe
*.nexe

# Generated documentation
doc/**

# Ninja files
.ninja_deps
.ninja_log
build.ninja
